.main-img {
  width: 750px;
  height: 500px;
  margin: 40px;
}

.main-img1 {
  width: 600px;
  height: 400px;
  margin: 40px;
}

.main-img2 {
  width: 600px;
  height: 400px;
  margin: 40px;
}

p{
  font-family: "Times New Roman", Times, serif;
}
